openapi: 3.1.0
info:
  title: "OGC API - Connected Systems - Part 2: Dynamic Data"
  version: 0.0.1
  description: |-
    Example OpenAPI specification for part 2 of [OGC API - Connected Systems](https://github.com/opengeospatial/connected_systems).
  contact:
    name: OGC API Support
    url: "https://www.ogc.org/contact"
    email: info@ogc.org

  license:
    name: OGC License
    url: "https://www.ogc.org/ogc/Document"
  x-logo:
    url: "https://www.ogc.org/wp-content/uploads/2023/03/OGC-1.svg"
    backgroundColor: "#FFFFFF"
    altText: "OGC logo"
    href: "https://www.ogc.org"

servers:
  - url: 'https://api.georobotix.io/ogc/t18/api'
    description: OGC Testbed Demo Server
  - url: 'http://localhost:8181/sensorhub/api'
    description: Local test server

tags:
  - name: Datastreams
    description: |-
      Datastreams allow access to dynamic data produced by systems, in various formats.

      They also provide metadata for describing the properties included in the data (i.e. schema).
  - name: Observations
    description: Access to historical and real-time observations.
  - name: Controls
    description: Control channels allow access to historical and/or real-time commands.
  - name: System Events
    description: System events are used to notify users of changes one or more systems.
  - name: System History
    description: Advanced access to historical system descriptions.

paths:
  
  # Datastreams
  /datastreams:
    $ref: paths/datastreams.yaml

  /systems/{systemId}/datastreams:
    $ref: paths/systemDatastreams.yaml

  /datastreams/{datastreamId}:
    $ref: paths/datastreamById.yaml

  /datastreams/{datastreamId}/schema:
    $ref: paths/datastreamSchemas.yaml