openapi: 3.1.0
info:
  title: "OGC API - Connected Systems - Part 1: Feature Resources"
  version: 0.0.1
  description: |-
    Example OpenAPI specification for part 1 of [OGC API - Connected Systems](https://github.com/opengeospatial/connected_systems).  
    This Standard also conforms to [OGC API - Features](https://ogcapi.ogc.org/features/).
  contact:
    name: OGC API Support
    url: "https://www.ogc.org/contact"
    email: info@ogc.org

  license:
    name: OGC License
    url: "https://www.ogc.org/ogc/Document"
  x-logo:
    url: "https://www.ogc.org/wp-content/uploads/2023/03/OGC-1.svg"
    backgroundColor: "#FFFFFF"
    altText: "OGC logo"
    href: "https://www.ogc.org"

servers:
  - url: 'https://api.georobotix.io/ogc/t18/api'
    description: OGC Testbed Demo Server
  - url: 'http://localhost:8181/sensorhub/api'
    description: Local test server

tags:
  - name: Capabilities
    description: Essential characteristics of the information available from the API.
  - name: Collections
    description: Collections of features (e.g. Systems, Procedures, Deployments, Sampling Features, and other Features of Interest).
  - name: Systems
    description: |-
      Systems are entities that can produce data feeds and/or receive commands (e.g. sensors and sensor networks, platforms, actuators, processing components, etc.).
      Many systems can be classified as 'observing systems' that produce observations of one or more features of interest.
  - name: Procedures
    description: |-
      Procedures provides information about the procedure implemented by a system to accomplish its task(s).
      For hardware equipment, it usually corresponds to the equipment's datasheet.
      For human sensing or sampling tasks, the procedure describes the steps or methodology that must be followed by the operator.
  - name: Deployments
    description: |-
      Deployments describe how systems are being deployed at a particular place and time.
  - name: Sampling Features
    description: |-
      Sampling Features link Systems with ultimate features of interest, describing exactly what part of a larger feature is being interacted with.

paths:
  /:
    get:
      summary: Landing Page
      description: The landing page provides links to the API definition, the conformance statements and to the feature collections in this dataset.
      tags:
        - Capabilities
      responses:
        '200':
          $ref: responses/LandingPage.yaml

  /conformance:
    get:
      summary: Conformance
      description: A list of all conformance classes specified in a standard that the server conforms to.
      tags:
        - Capabilities
      responses:
        '200':
          $ref: responses/Conformance.yaml


  # Collections  
  /collections:
    get:
      summary: List all available collections
      description: |-
        List or search all collections available from this server endpoint.
      tags:
        - Collections
      parameters:
        - $ref: parameters/bbox.yaml
        - $ref: parameters/datetime.yaml
        - $ref: parameters/geom.yaml
        - $ref: parameters/keyword.yaml
        - $ref: parameters/limit.yaml
      responses:
        '200':
          $ref: responses/Collections.yaml

  /collections/{collectionId}:
    get:
      summary: Retrieve collection metadata
      description: Retrieve metadata about a specific collection.
      tags:
        - Collections
      parameters:
        - $ref: parameters/collectionId.yaml
      responses:
        '200':
          $ref: responses/Collection.yaml    

  /collections/{collectionId}/items:
    get:
      summary: List all items in a collection
      description: |-
        Retrieve collections items, which can be Systems, Procedures, Deployments, Sampling Features, or any other features.

        Please see the documentation of the respective root collections to see the specifics of each feature type.
      tags:
        - Collections
      parameters:
        - $ref: parameters/collectionId.yaml
        - $ref: parameters/limit.yaml
      responses:
        '200':
          $ref: responses/FeatureCollection.yaml

  /collections/{collectionId}/items/{featureId}:
    get:
      summary: Retrieve a specific feature
      description: Retrieve a specific feature from a collection.
      tags:
        - Collections
      parameters:
        - $ref: parameters/collectionId.yaml
        - $ref: parameters/featureId.yaml
      responses:
        '200':
          $ref: responses/Feature.yaml


  # Systems
  /systems:
    $ref: paths/systems.yaml

  /collections/{systemCollectionId}/items:
    $ref: paths/systemsInCollection.yaml

  /systems/{systemId}:
    $ref: paths/systemById.yaml

  /systems/{systemId}/members:
    $ref: paths/systemMembers.yaml


  # Procedures
  /procedures:
    $ref: paths/procedures.yaml

  /procedures/{procedureId}:
    $ref: paths/procedureById.yaml


  # Deployments
  /deployments:
    $ref: paths/deployments.yaml

  /deployments/{deploymentId}:
    $ref: paths/deploymentById.yaml

  /deployments/{deploymentId}/systems:
    $ref: paths/deploymentSystems.yaml

  /systems/{systemId}/deployments:
    $ref: paths/systemDeployments.yaml
    

  # Sampling Features
  /samplingFeatures:
    $ref: paths/samplingFeatures.yaml

  /systems/{systemId}/samplingFeatures:
    $ref: paths/systemSamplingFeatures.yaml

  /samplingFeatures/{featureId}:
    $ref: paths/samplingFeatureById.yaml